---
import type { CollectionEntry } from "astro:content";
import Character from "../../layouts/Caracter.astro";
import Icon from "../../components/Icon.astro";

import { getSortedCharacters } from "../../js/backend.js";

import Filters from "../../components/Filters.astro";

export async function getStaticPaths() {
	const posts = (await getSortedCharacters())!;

	return posts.map((post, index) => ({
		params: { slug: post.slug },
		props: {
			post,
			prevPost: posts[index - 1] || posts[posts.length - 1],
			nextPost: posts[index + 1] || posts[0],
		},
	}));
}
type Props = {
	post: CollectionEntry<"characters">;
	prevPost: CollectionEntry<"characters">;
	nextPost: CollectionEntry<"characters">;
};

const { post, prevPost, nextPost } = Astro.props;
const { Content } = await post.render();
const { name, color, image } = post.data;
---

<Character {...post.data}>
	<div
		id="overlay"
		class="overlay transition-overlay is-visible"
		x-init="$nextTick(() => $el.classList.add('is-visible'))"
	>
		<div class="overlay_inner">
			<a
				href="/characters/"
				class="overlay_close"
				data-close-overlay
				data-tippy="Fragments: <code>#overlay</code> and <code>#list</code>"
				data-tippy-follow></a>
			<main class="character transition-character" id="detail">
				<div
					class="character_header"
					style={{
						backgroundColor: color,
					}}
				>
					<a
						href="/characters/"
						class="character_close"
						data-close-overlay
						data-tippy="Fragments: <code>#overlay</code> and <code>#list</code>"
					>
						<Icon name="x" />
					</a>
					<div
						class="character_image"
						style={{
							backgroundImage: `url(/characters/${image})`,
						}}
					>
					</div>
				</div>
				<div class="character_body text">
					<h1 class="page-title">{name}</h1>
					<p>
						<strong>{name}</strong> is a character in the Super Mario universe.
					</p>
					<p>
						Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde
						possimus vero aliquam inventore molestiae cumque quibusdam impedit
						dolor quo dolores eum minus sint.
					</p>
					<h2>Direct links to filters</h2>
					<Filters tooltip="Fragments: <code>#overlay</code> and <code>#list</code>" />

				</div>
				<nav>
					<ul class="character_nav">
						<li class="character_nav_item">
							<a
								class="character_nav_link --previous"
								data-swup-history="replace"
								data-tippy="Fragments: <code>#detail</code>"
								href={`/character/${prevPost.slug}`}
							>
								← Princess Daisy</a
							>
						</li>
						<li class="character_nav_item">
							<a
								class="character_nav_link --next"
								data-swup-history="replace"
								data-tippy="Fragments: <code>#detail</code>"
								href={`/character/${nextPost.slug}`}
							>
								Luigi →</a
							>
						</li>
					</ul>
				</nav>
			</main>
		</div>
	</div>
</Character>
